body {
    font-size: 25px;
    /* size of the latters */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about_me__info {
    display: flex;
    /* the way to place different components on the page */
    flex-direction: row;
    gap: 50px;
}

.pic-ingredients {
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 15px;
}

.duck-wrap {
    margin-top: 20px;
}

.recepy_title {
    text-align: center;
}

.recepy_items {
    margin: auto;
}

.ingredients {
    border-style: solid;
    border-color: rgb(84, 78, 72);
    padding: 10px;
}

.cooking_steps {
    margin: 90px;
}

.recepy_page {
    background-color: rgb(182, 166, 166);
}

.about_me {
    background-color: rgb(97, 141, 97);
}

.link_about_me {
    position: fixed;
    background-color: azure;
}

.main_pic {
    width: 100%;
}

.my_pic {
    width: 83%;
    border-radius: 5%;
}

.step_description__img__left {
    width: 500px;
    float: left;
    shape-margin: 1rem;
    shape-outside: border-box;
    border-radius: 10%;
    margin: 30px;
}

.step_description__text {
    margin: 1em 0 0 1em;
    padding: 1em;
}

.clear {
    clear: both;
}

.step_description {
    margin: 10 0px;
}

.large {
    width: 12em;
}

.step_description__img__right {
    float: right;
    shape-margin: 1rem;
    shape-outside: border-box;
    border-radius: 10%;
    margin: 30px;
}